 
.h1-cus {
    font-size: 13px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.538462;
}

.h2-cus {
    font-size: 13px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.538462;
}
 